<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Default NuGet.org source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- GitHub Packages for burgan-tech organization -->
    <!-- Note: Credentials are configured separately per environment -->
    <add key="burgan-tech-github" value="https://nuget.pkg.github.com/burgan-tech/index.json" />
  </packageSources>
</configuration>
